<%# Copyright 2011-2012 Rice University. Licensed under the Affero General Public 
    License version 3 or later.  See the COPYRIGHT file for details. %>

<% @show_credit_toggle_link = false %>
<% @show_matching_credit_toggle_link = true %>

<% if !question.question_setup_id.nil? %>
   <div class="quad-question_setup">
      <%= question.question_setup.variated_content_html.html_safe %>
   </div>
<% end %>
 <% content_for :javascript_includes do %>
    <%= javascript_include_tag "matching" %>
  <% end %>

<p>
Content & Answers
</p>
<p>
&nbsp
</p>
<div class="quad-question_content">
  <%= question.variated_content_html.html_safe %>
</div>
<div id="helpheight" style="height:100%; overflow:hidden">
<% actcounter = 0 %>
<% counter = 0 %>
<% rightCounter = 0 %>
<div style='float:right;'>
<table>
<tbody  id="rightCol"  style="position:relative">
<% question.matchings.each do |g| %>
   <% actcounter = actcounter + 2 %>    
   <% if g.column == "right" %>
	<td style="vertical-align: top;">
        <div style='border: 2px solid gray; padding: 10px; width: 225px; margin-bottom: 10px;' 
                                class='ui-corner-all droppable ui-droppable fields' id='<%=g.choice_id%>'> 
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'>
				    
                                    <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'> 
                                                 </td> 
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'> 
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr> 
                                        <tr> 
                                            <td style='font-size: 0.9em; text-align: left;'>
	<%= g.content %>
        </td>
                                        </tr> 
                                    </tbody> 
                                </table>
                            </div>
        </td>
        </tr>
        <% counter = counter + 1 %>
        <% end %>
	
<% end %>
</tbody>
</table>
</div>

<div style="float:left;">
 <table>
  <tbody id = "leftCol" style="position:relative">

<% rightCounter = counter %>
<% question.matchings.each do |g| %>  
	<% if g.column == "left" %>
        <tr>
	<td>
	<div style='border: 2px solid gray; padding: 10px; width: 225px; margin-bottom: 10px;'
                                class='ui-corner-all draggable ui-draggable fields' id='<%=g.choice_id%>'>
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'>
                                  
                                  <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'>
                                                 </td>
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'>
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td style='font-size: 0.9em; text-align: left;'>
	<%= g.content %>
                         </td>
                                        </tr> 
                                    </tbody> 
                                </table> 
                            </div>
        </td>
        </tr>
        <% if g.choice_id != g.matched_id %>
        <script type="text/javascript">
        svgDrawLine($("#<%=g.matched_id%>"), $("#<%=g.choice_id%>"));
        </script>
        <% end %>
        <% counter = counter + 1 %>
        <% end %>
       
        
<% end%>
<% while counter < 2 * (rightCounter)%>
<tr>
<td>
  <div style='border: 2px solid gray; padding: 10px; width: 100%; margin-bottom: 10px; visibility:hidden'
                                class='ui-corner-all draggable ui-draggable' id='wrapper2'>
                                <table cellspacing'0' cellpadding='0' style='width: 100%;'>
                                    <tbody> 
                                        <tr> 
                                            <td style='width: 50px; text-align: center;' rowspan='2'>
                                                 </td>
                                            <td style='text-align: right; vertical-align: top; width: 16px;' rowspan='2'>
                                                <span class='ui-icon-arrow-4 ui-icon'></span><span class='ui-icon-shuffle ui-icon'>
                                                </span>
                                            </td> 
                                        </tr>
                                        <tr>
					  <textarea></textarea>
                                        </tr> 
                                    </tbody> 
                                </table> 
                            </div>
        </td>
        </tr>
<% counter = counter + 1 %>
      
<% end %>

</tbody>
 </table>
</div>
<div id="svgbasics" style="float:left; width:70px; height:100%; position:relative">  
</div>
</div>